//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
// $path-image   :   '../img';
// $path-fonts     :  '../fonts';
$gray: #CECECE;
$red: #FF3800;
$orange: #E16643;